SCHEME=http
# Random string (generated with openssl rand -base64 32)
ROCKET_SECRET_KEY=Qt6DPFUU8qO4BKTCQnKAgt9FBBJxIWAYUGyHuruVfpE=
ROCKET_LOG=normal
WEBHOOK_TOKEN=some_random_token
RUST_LOG=debug
// Address of the multi send contract that should be used
MULTISEND_ADDRESS=0x8D29bE29923b68abfDD21e541b9374737B49cdAD
# Fee in native token. If 0 will relay transactions without a fee. Default is 0.
TRANSACTION_FEE=0
// Hex encoded private key that is used for relaying
KEY_BYTES=0x_encoded_private_key